affine==3.0.1
attrs==26.1.0
beautifulsoup4==4.15.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.2
click==8.1.8
cloudpickle==3.1.2
colorama==0.4.6
contourpy==1.4.0
cryptography==50.0.2
cycler==0.12.1
earthengine-api==1.7.46
filelock==4.0.12
fonttools==4.66.1
gdown==6.4.1
geopandas==1.2.0
google-api-core==2.40.0
google-api-python-client==2.201.0
google-auth==2.59.1
google-auth-httplib2==0.4.4
google-cloud-core==2.8.0
google-cloud-storage==3.16.0
google-crc32c==1.9.0
google-resumable-media==2.11.0
googleapis-common-protos==1.75.5
gTTS==2.5.4
httplib2==0.32.0
idna==3.20
joblib==1.6.0
kiwisolver==1.5.1
matplotlib==3.11.2
narwhals==2.26.0
numpy==2.5.3
opentelemetry-api==1.45.0
packaging==26.3
pandas==3.0.6
pillow==12.3.0
proto-plus==1.29.0
protobuf==7.36.2
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pyogrio==0.13.0
pyparsing==3.3.3
pyproj==3.8.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
rasterio==1.5.2
requests==2.34.2
scikit-learn==1.9.1
scipy==1.18.1
shapely==2.1.2
six==1.17.0
soupsieve==2.10
threadpoolctl==3.7.0
tqdm==4.70.1
typing_extensions==4.16.0
tzdata==2026.5
uritemplate==4.2.0
urllib3==2.8.0
